
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isRootAdmin() {
      return isSignedIn() && (
        request.auth.uid == "3EQSAs91zzVclLcZYk2dzQToMeC3" ||
        request.auth.token.email == "arundevv.com@gmail.com"
      );
    }

    match /teamMembers/{teamMemberId} {
      allow get: if isSignedIn() && (request.auth.uid == teamMemberId || isRootAdmin());
      allow list: if isRootAdmin();
      allow create: if isSignedIn() && request.auth.uid == teamMemberId;
      allow update: if isSignedIn() && (request.auth.uid == teamMemberId || isRootAdmin());
      allow delete: if isRootAdmin();
    }

    match /projects/{projectId} {
      allow read: if isRootAdmin() || (isSignedIn() && request.auth.uid in resource.data.assignedTeamMemberIds);
      allow create: if isSignedIn();
      allow update: if isRootAdmin() || (isSignedIn() && request.auth.uid in resource.data.assignedTeamMemberIds);
      allow delete: if isRootAdmin();
      
      match /{allSubcollections=**} {
        allow read, write: if isRootAdmin() || (isSignedIn() && request.auth.uid in resource.data.projectAssignedTeamMemberIds);
      }
    }

    match /invoices/{invoiceId} {
      allow read, write: if isRootAdmin();
      allow list: if isRootAdmin();
    }

    match /tags/{tagId} {
      allow read: if isSignedIn();
      allow write: if isRootAdmin();
    }
  }
}
